@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;1,100&display=swap");
.logo {
  width: 8em;
  height: 8em;
}

.navflex {
  display: flex;
  justify-items: center;

  align-items: center;
}
.banner {
  width: 100%;
  height: 30rem;
}
.kidsImage {
  width: 50rem;
  height: 20rem;
}
/*
#FF5D21:rouge orange
#51B59F: le vert de mon logo
*/
.btn-primary {
  color: #fff;
  background-color: #51b59f;
  border-color: #51b59f;
}

.title-form {
  text-align: center;
  font-family: "Poppins", sans-serif, 900;
  color: #ff5d21;
  font-weight: bold;

  padding-block: 1em;
}
.avatar {
  height: 10em;
  width: 10em;
  border-radius: 100%;
  margin: 3em;
}
.avatarmessage {
  height: 4em;
  width: 4em;
  border-radius: 100%;
}
.icon {
  height: 2em;
  width: 2em;
  color: #51b59f;
}
.userprofile {
  color: #ff5d21;
  font-size: medium;
  font-family: "Poppins", sans-serif, 200;
  margin-left: 1em;
}
.profileUserName {
  color: #ff5d21;
  font-style: bold;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif, 600;
  margin-left: 1em;
}
.registerimage {
  height: 32em;
  width: 22em;
  border-radius: 1em;
  margin-block: 5em;
}
.disponible {
  color: green;
  font-family: "Poppins", sans-serif, 900;
  font-style: bold;
  margin-top: 2em;
}
.notdiponible {
  color: rgb(231, 19, 19);
  font-family: "Poppins", sans-serif, 900;
  margin-top: 2em;
  font-style: bold;
}
.devisiant {
  border-top: 1px solid rgb(194, 197, 194);
  height: 3em;
  background-color: #51b59f;
  border: radius 20px;
}
.pdevisiant {
  color: white;
  font-family: "Poppins", sans-serif, 900;
}
.pkidlist {
  font-family: "Poppins", sans-serif, 900;
  font-style: bold;
  text-transform: uppercase;
}

.footer {
  margin-top: 5em;
  background-color: #51b59f;
  padding-left: 2% !important;
  padding-block: 1em;
}
.test {
  display: flex;
  justify-content: center;
}
.pindex {
  padding-block: 1em;
  font-family: "Poppins", sans-serif, 900;
}
.sac-argent {
  height: 64px;
  width: 64px;
}
.text-icon {
  color: #397dc9;
  margin-block: 1em;
}
.btn-ajouter {
  margin-block: 2em;
  margin-left: 2em;
}
.content-center {
  text-align: center;
}
